* {
  margin: 0;
  padding: 0; }

body,
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif; }

.btn {
  background: #434343;
  color: #ffc107;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #fff;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  .btn:hover {
    color: #fff;
    border-bottom: 1px solid #ffc107; }

.main-footer {
  height: 4rem;
  background: #283048;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#859398), to(#283048));
  background: linear-gradient(to bottom, #859398, #283048);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  text-transform: uppercase;
  color: #ffc107;
  font-weight: bold;
  padding-top: 0.5rem; }
  @media (max-width: 690px) {
    .main-footer {
      font-size: 0.9rem; } }
  @media (max-width: 470px) {
    .main-footer {
      font-size: 0.8rem; } }
  .main-footer__text {
    padding-bottom: 0.5rem; }
  .main-footer__btn {
    background: #434343;
    color: #ffc107;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
    .main-footer__btn:hover {
      color: #fff;
      border-bottom: 1px solid #ffc107; }

.section-jumbotron {
  background: #283048;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#859398), to(#283048));
  background: linear-gradient(to bottom, #859398, #283048);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: grid;
  grid-template-rows: 1fr;
  text-align: center;
  border-bottom: 1px solid #434343;
  color: #bdbfc1; }
  .section-jumbotron__title {
    padding: 0.8rem 0 0.5rem 0;
    text-shadow: 1px 1px 0 #f9f572; }
    @media (max-width: 690px) {
      .section-jumbotron__title {
        font-size: 1.3rem; } }
    @media (max-width: 590px) {
      .section-jumbotron__title {
        font-size: 1.2rem; } }
    @media (max-width: 470px) {
      .section-jumbotron__title {
        font-size: 0.9rem; } }
  .section-jumbotron__text {
    font-size: 1.4rem;
    padding-bottom: 0.5rem;
    text-shadow: 1px 1px 0 #f9f572; }
    @media (max-width: 690px) {
      .section-jumbotron__text {
        font-size: 1.3rem; } }
    @media (max-width: 590px) {
      .section-jumbotron__text {
        font-size: 1.2rem; } }
    @media (max-width: 470px) {
      .section-jumbotron__text {
        font-size: 0.9rem; } }

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  color: #ffc107;
  background: #283048;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#859398), to(#283048));
  background: linear-gradient(to bottom, #859398, #283048);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  @media (max-width: 768px) {
    .main-header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap; } }
  @media (max-width: 550px) {
    .main-header {
      height: 13.5rem;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .main-header__logo {
    margin-left: 1.5rem;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-transform: uppercase; }
    @media (max-width: 768px) {
      .main-header__logo {
        margin: 0; } }
    @media (max-width: 550px) {
      .main-header__logo {
        margin: 0.5rem 0 0.5rem 0; } }
  @media (max-width: 550px) {
    .main-header .main-nav__listgroup {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .main-header .main-nav__item {
    display: inline-block;
    margin: 0 1.5rem 0 1.5rem; }
    @media (max-width: 768px) {
      .main-header .main-nav__item {
        padding: 0.5rem 0; } }
    .main-header .main-nav__item a {
      list-style: none;
      text-decoration: none;
      font-weight: bold;
      color: #f9f572;
      text-transform: uppercase;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
      .main-header .main-nav__item a:hover {
        color: #fff;
        border-bottom: 1px solid #ffc107; }

.section-card {
  background-image: url("../image-min/silk-road-min.png");
  min-height: calc(100vh - 8rem);
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 990px) {
    .section-card {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px; } }
  @media (max-width: 690px) {
    .section-card {
      grid-template-columns: 1fr; } }
  .section-card__body {
    height: 350px;
    text-align: center;
    background: #434343;
    width: 80%;
    opacity: 0.6;
    margin: 0 auto;
    border-radius: 10px;
    -webkit-box-shadow: 8px 8px 10px 3px black;
    box-shadow: 8px 8px 10px 3px black;
    -webkit-transition: all 0.2s linear, -webkit-transform 0.2s linear;
    transition: all 0.2s linear, -webkit-transform 0.2s linear;
    transition: all 0.2s linear, transform 0.2s linear;
    transition: all 0.2s linear, transform 0.2s linear, -webkit-transform 0.2s linear; }
    @media only screen and (min-width: 990px) {
      .section-card__body:hover {
        -webkit-box-shadow: 10px 10px 12px 4px black;
        box-shadow: 10px 10px 12px 4px black;
        -webkit-transform: scale(1.1);
        transform: scale(1.1); } }
    @media (max-width: 990px) {
      .section-card__body {
        height: 300px;
        width: 70%;
        margin-top: 1rem;
        margin-bottom: 1rem; } }
    @media (max-width: 690px) {
      .section-card__body {
        height: 280px;
        width: 60%; } }
    @media (max-width: 300px) {
      .section-card__body {
        height: 260px;
        width: 90%; } }
  .section-card__img {
    height: 200px;
    width: 200px; }
    @media (max-width: 440px) {
      .section-card__img {
        height: 170px;
        width: 170px; } }
  .section-card__title {
    text-shadow: 1px 1px 0 #f9f572;
    color: #bdbfc1;
    padding-bottom: 0.3rem;
    font-size: 0.9rem; }
    @media (max-width: 990px) {
      .section-card__title {
        display: none; } }
  .section-card__text {
    text-shadow: 1px 1px 0 #f9f572;
    color: #bdbfc1;
    font-size: 0.9rem;
    padding-bottom: 1rem; }
    @media (max-width: 990px) {
      .section-card__text {
        font-size: 0.8rem; } }
    @media (max-width: 440px) {
      .section-card__text {
        font-size: 0.6rem; } }

.container-aboutme {
  background: #f2994a;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left bottom, left top, from(#f2c94c), to(#f2994a));
  background: linear-gradient(to top, #f2c94c, #f2994a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.section-aboutme {
  display: grid;
  grid-template-columns: 1fr;
  width: calc(100% - 5rem);
  max-width: 50rem;
  margin: 0 auto;
  text-align: justify;
  padding: 0 2rem;
  min-height: calc(100vh - 8rem); }
  .section-aboutme__title {
    padding-top: 1rem;
    text-align: center;
    border-bottom: 3px solid black; }
    @media (max-width: 420px) {
      .section-aboutme__title {
        font-size: 1.2rem; } }
  .section-aboutme__text {
    text-shadow: 1px 1px 0 #f9f572;
    line-height: 1.4;
    padding: 1rem 0; }
    @media (max-width: 420px) {
      .section-aboutme__text {
        font-size: 0.9rem; } }
  .section-aboutme__btnsec {
    text-align: center;
    display: block;
    padding: 1rem 0 1rem 0;
    margin: 0 auto;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    background: #f2994a;
    /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left bottom, left top, from(#f2c94c), to(#f2994a));
    background: linear-gradient(to top, #f2c94c, #f2994a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-shadow: 1px 1px 0 #f9f572;
    -webkit-box-shadow: 2px 2px 5px 5px #283048;
    box-shadow: 2px 2px 5px 5px #283048;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear; }
    @media only screen and (min-width: 990px) {
      .section-aboutme__btnsec:hover {
        -webkit-box-shadow: 10px 10px 12px 4px black;
        box-shadow: 10px 10px 12px 4px black;
        color: #fff;
        background: #283048;
        /* fallback for old browsers */
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-gradient(linear, left top, left bottom, from(#859398), to(#283048));
        background: linear-gradient(to bottom, #859398, #283048);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-transform: scale(1.1);
        transform: scale(1.1); } }

.tips {
  background: #000000;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left bottom, left top, from(#434343), to(#000000));
  background: linear-gradient(to top, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: calc(100vh - 8rem); }

.dogfight-tips {
  width: calc(100% - 10rem);
  max-width: 50rem;
  margin: 0 auto;
  text-align: center; }
  .dogfight-tips__title {
    color: #fff;
    padding-top: 1rem; }
    @media (max-width: 690px) {
      .dogfight-tips__title {
        font-size: 1.3rem; } }
    @media (max-width: 560px) {
      .dogfight-tips__title {
        font-size: 1.2rem; } }
    @media (max-width: 470px) {
      .dogfight-tips__title {
        font-size: 1rem; } }
  .dogfight-tips__title2 {
    color: #fff;
    padding-top: 1rem; }
    @media (max-width: 690px) {
      .dogfight-tips__title2 {
        font-size: 1.1rem; } }
    @media (max-width: 560px) {
      .dogfight-tips__title2 {
        font-size: 0.9rem; } }
    @media (max-width: 470px) {
      .dogfight-tips__title2 {
        font-size: 0.8rem; } }
  .dogfight-tips__par {
    color: #fff;
    padding-top: 1rem; }
    @media (max-width: 690px) {
      .dogfight-tips__par {
        font-size: 0.9rem; } }
    @media (max-width: 470px) {
      .dogfight-tips__par {
        font-size: 0.8rem; } }

iframe {
  padding-top: 2rem;
  padding-bottom: 1rem;
  width: 100%; }
  @media (max-width: 470px) {
    iframe {
      height: 350px; } }

.container-tourney {
  background: #4da0b0;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left bottom, left top, from(#d39d38), to(#4da0b0));
  background: linear-gradient(to top, #d39d38, #4da0b0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.section-tourney {
  width: calc(100% - 5rem);
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .section-tourney__img {
    height: 38.625rem;
    width: 100%;
    padding-top: 2rem;
    border-radius: 15px;
    opacity: 0.7; }
    @media (max-width: 1000px) {
      .section-tourney__img {
        height: 37.5rem; } }
    @media (max-width: 840px) {
      .section-tourney__img {
        height: 31.25rem; } }
    @media (max-width: 700px) {
      .section-tourney__img {
        height: 26rem; } }
    @media (max-width: 580px) {
      .section-tourney__img {
        height: 20rem; } }
    @media (max-width: 440px) {
      .section-tourney__img {
        height: 16rem; } }
  .section-tourney__title {
    padding-top: 1rem;
    text-shadow: 1px 1px 0 #f9f572; }
    @media (max-width: 440px) {
      .section-tourney__title {
        font-size: 1.2rem; } }
  .section-tourney__title2 {
    padding: 1rem 0;
    text-shadow: 1px 1px 0 #f9f572; }
    @media (max-width: 390px) {
      .section-tourney__title2 {
        font-size: 1rem; } }
  .section-tourney__text {
    text-align: justify;
    color: black;
    font-size: 1.2rem;
    line-height: 1.4;
    letter-spacing: 1;
    padding: 1rem 0; }
    @media (max-width: 768px) {
      .section-tourney__text {
        font-size: 1.1rem;
        line-height: 1.3;
        letter-spacing: 0.9; } }
    @media (max-width: 450px) {
      .section-tourney__text {
        font-size: 1rem; } }
  .section-tourney__winner {
    font-size: 1.4rem;
    text-shadow: 1px 1px 0 #f9f572; }
    @media (max-width: 870px) {
      .section-tourney__winner {
        font-size: 1.2rem; } }

.section-landing {
  min-height: 100vh;
  background: url("../image-min/BF5-min.png") center/cover fixed no-repeat; }
  @media screen and (max-width: 450px) {
    .section-landing {
      background: url("../image-min/BF5-min.png");
      background-position: center;
      background-size: cover; } }
  .section-landing__title {
    padding-top: 6rem;
    text-align: center;
    font-size: 1.9rem;
    text-shadow: 1px 1px 0 #f9f572; }
    @media screen and (max-width: 450px) {
      .section-landing__title {
        font-size: 1.1rem; } }
  .section-landing__par {
    width: 18.75rem;
    margin: 0 auto;
    text-align: center;
    background: transparent;
    text-shadow: 1px 1px 0 #f9f572;
    font-size: 1.5rem;
    margin-top: 1rem; }

.planes {
  background: #000; }

.container-planes {
  max-width: 760px;
  margin: auto;
  background: #000; }

.main-img img,
.imgs img {
  width: 100%; }

@media screen and (max-width: 450px) {
  .main-img img {
    height: 400px; } }

.imgs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 4fr));
  grid-gap: 5px; }

.imgs img {
  cursor: pointer; }

/* Fade in animation */
@-webkit-keyframes fadeIn {
  to {
    opacity: 1; } }
@keyframes fadeIn {
  to {
    opacity: 1; } }

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn 0.5s ease-in 1 forwards;
  animation: fadeIn 0.5s ease-in 1 forwards; }

/* Media Queries */
@media (max-width: 600px) {
  .imgs {
    grid-template-columns: repeat(2, 1fr); } }

.section-landing__container {
  height: 100vh;
  background: url("../image-min/plane-1.jpg") center/cover fixed no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 450px) {
    .section-landing__container {
      background: url("../image-min/plane-1.jpg");
      background-position: center;
      background-size: cover; } }
  .section-landing__container .section-landing__paragraph {
    width: 18.75rem;
    background: transparent;
    text-shadow: 1px 1px 0 #f9f572;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    letter-spacing: 2px; }
    @media screen and (max-width: 450px) {
      .section-landing__container .section-landing__paragraph {
        font-size: 1rem; } }
