$shadow-text: 1px 1px 0 #f9f572;

* {
  margin: 0;
  padding: 0;
}

body,
html {
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}
/////////////////////////////
///// GLOBAL STYLES//////////
/////////////////////////////
.btn {
  background: #434343;
  color: #ffc107;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: all 0.3s ease-out;

  &:hover {
    color: #fff;
    border-bottom: 1px solid #ffc107;
  }
}

.main-footer {
  height: 4rem;
  background: #283048; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #859398,
    #283048
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #859398,
    #283048
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  text-transform: uppercase;
  color: #ffc107;
  font-weight: bold;
  padding-top: 0.5rem;

  @media (max-width: 690px) {
    font-size: 0.9rem;
  }

  @media (max-width: 470px) {
    font-size: 0.8rem;
  }

  &__text {
    padding-bottom: 0.5rem;
  }
  &__btn {
    background: #434343;
    color: #ffc107;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    // border: 1px solid #fff;
    border-radius: 5px;
    transition: all 0.3s ease-out;

    &:hover {
      color: #fff;
      border-bottom: 1px solid #ffc107;
    }
  }
}

.section-jumbotron {
  background: #283048; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #859398,
    #283048
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #859398,
    #283048
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: grid;
  grid-template-rows: 1fr;
  text-align: center;
  border-bottom: 1px solid #434343;
  color: #bdbfc1;

  &__title {
    padding: 0.8rem 0 0.5rem 0;
    text-shadow: $shadow-text;

    @media (max-width: 690px) {
      font-size: 1.3rem;
    }

    @media (max-width: 590px) {
      font-size: 1.2rem;
    }
    @media (max-width: 470px) {
      font-size: 0.9rem;
    }
  }
  &__text {
    font-size: 1.4rem;
    padding-bottom: 0.5rem;
    text-shadow: $shadow-text;

    @media (max-width: 690px) {
      font-size: 1.3rem;
    }

    @media (max-width: 590px) {
      font-size: 1.2rem;
    }
    @media (max-width: 470px) {
      font-size: 0.9rem;
    }
  }
}

////////////// End of global styles /////////////////

//////////////////////////////////
// Header and Navigation styles //
//////////////////////////////////
.main-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  color: #ffc107;
  background: #283048; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #859398,
    #283048
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #859398,
    #283048
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  @media (max-width: 768px) {
    flex-flow: column nowrap;
  }
  @media (max-width: 550px) {
    height: 13.5rem;
    justify-content: center;
  }

  &__logo {
    margin-left: 1.5rem;
    justify-content: flex-start;
    text-transform: uppercase;

    @media (max-width: 768px) {
      margin: 0;
    }

    @media (max-width: 550px) {
      margin: 0.5rem 0 0.5rem 0;
    }
  }

  .main-nav {
    &__listgroup {
      @media (max-width: 550px) {
        display: flex;
        flex-direction: column;
      }
    }
    &__item {
      display: inline-block;
      margin: 0 1.5rem 0 1.5rem;

      @media (max-width: 768px) {
        padding: 0.5rem 0;
      }

      a {
        list-style: none;
        text-decoration: none;
        font-weight: bold;
        color: #f9f572;
        text-transform: uppercase;
        transition: all 0.3s ease-out;

        &:hover {
          color: #fff;
          border-bottom: 1px solid #ffc107;
        }
      }
    }
  }

  ////////////////////////////////////
  // Section Silk Road home page image
  ////////////////////////////////////
}
.section-card {
  background-image: url('../img/silk-road-min.png');
  min-height: calc(100vh - 8rem);
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;

  @media (max-width: 990px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  @media (max-width: 690px) {
    grid-template-columns: 1fr;
  }

  &__body {
    height: 350px;
    text-align: center;
    background: #434343;
    width: 80%;
    opacity: 0.6;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 8px 8px 10px 3px black;
    transition: all 0.2s linear, transform 0.2s linear;

    &:hover {
      box-shadow: 10px 10px 12px 4px black;
      transform: scale(1.1);
    }

    @media (max-width: 990px) {
      height: 300px;
      width: 70%;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    @media (max-width: 690px) {
      height: 280px;
      width: 60%;
    }
    @media (max-width: 300px) {
      height: 260px;
      width: 90%;
    }
  }
  &__img {
    height: 200px;
    width: 200px;

    @media (max-width: 440px) {
      height: 170px;
      width: 170px;
    }
  }
  &__title {
    text-shadow: $shadow-text;
    color: #bdbfc1;
    padding-bottom: 0.3rem;
    font-size: 0.9rem;

    @media (max-width: 990px) {
      display: none;
    }
  }
  &__text {
    text-shadow: $shadow-text;
    color: #bdbfc1;
    font-size: 0.9rem;
    padding-bottom: 1rem;

    @media (max-width: 990px) {
      font-size: 0.8rem;
    }
    @media (max-width: 440px) {
      font-size: 0.6rem;
    }
  }
}

/////////////////////////////////
// About Me page Section about me
/////////////////////////////////
.container-aboutme {
  background: #f2994a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f2c94c,
    #f2994a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f2c94c,
    #f2994a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.section-aboutme {
  display: grid;
  grid-template-columns: 1fr;
  width: calc(100% - 5rem);
  max-width: 50rem;
  margin: 0 auto;
  text-align: justify;
  padding: 0 2rem;
  min-height: calc(100vh - 8rem);

  &__title {
    padding-top: 1rem;
    text-align: center;
    border-bottom: 3px solid black;

    @media (max-width: 420px) {
      font-size: 1.2rem;
    }
  }
  &__text {
    text-shadow: $shadow-text;
    line-height: 1.4;
    padding: 1rem 0;

    @media (max-width: 420px) {
      font-size: 0.9rem;
    }
  }
  &__btnsec {
    text-align: center;
    display: block;
    padding: 1rem 0 1rem 0;
    margin: 0 auto;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    background: #f2994a; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to top,
      #f2c94c,
      #f2994a
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #f2c94c,
      #f2994a
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    text-shadow: $shadow-text;
    box-shadow: 2px 2px 5px 5px #283048;
    transition: all 0.5s linear;

    &:hover {
      color: #fff;
      background: #283048; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to bottom,
        #859398,
        #283048
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to bottom,
        #859398,
        #283048
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      transform: scale(1.1);
    }
  }
}
// //////////////////
// MODAL
/////////////////////
.button {
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1em 2em;
  color: #fff;
  border: 0;
  width: 100%;
  cursor: pointer;

  @media (max-width: 520px) {
    font-size: 0.8rem;
  }
  @media (max-width: 420px) {
    font-size: 0.7rem;
  }

  &:hover {
    background: -webkit-linear-gradient(
      to top,
      #f2c94c,
      #f2994a
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #f2c94c,
      #f2994a
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #333;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 20% auto;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

.modal-header h3,
.modal-footer h3 {
  margin: 0;
}

.modal-header {
  background: -webkit-linear-gradient(
    to top,
    #859398,
    #283048
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #859398,
    #283048
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 15px;
  color: #fff;
  text-align: center;
}

.modal-body {
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
}

.modal-footer {
  background: -webkit-linear-gradient(
    to top,
    #859398,
    #283048
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #859398,
    #283048
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 10px;
  color: #fff;
  text-align: center;
}

.closeBtn {
  color: #ccc;
  float: right;
  font-size: 30px;

  &:hover,
  &:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/////////////////
// Tips page ////
/////////////////
.tips {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: calc(100vh - 8rem);
}
.dogfight-tips {
  width: calc(100% - 10rem);
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;

  &__title {
    color: #fff;
    padding-top: 1rem;

    @media (max-width: 690px) {
      font-size: 1.3rem;
    }

    @media (max-width: 560px) {
      font-size: 1.2rem;
    }
    @media (max-width: 470px) {
      font-size: 1rem;
    }
  }
  &__title2 {
    color: #fff;
    padding-top: 1rem;

    @media (max-width: 690px) {
      font-size: 1.1rem;
    }

    @media (max-width: 560px) {
      font-size: 0.9rem;
    }
    @media (max-width: 470px) {
      font-size: 0.8rem;
    }
  }
  &__par {
    color: #fff;
    padding-top: 1rem;

    @media (max-width: 690px) {
      font-size: 0.9rem;
    }
    @media (max-width: 470px) {
      font-size: 0.8rem;
    }
  }
}

iframe {
  padding-top: 2rem;
  padding-bottom: 1rem;
  width: 100%;

  @media (max-width: 470px) {
    height: 350px;
  }
}

///////////////////////
// Tournament page ////
///////////////////////
.container-tourney {
  background: #4da0b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #d39d38,
    #4da0b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #d39d38,
    #4da0b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.section-tourney {
  width: calc(100% - 5rem);
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;

  &__img {
    height: 38.625rem;
    width: 100%;
    padding-top: 2rem;
    border-radius: 15px;
    opacity: 0.7;

    @media (max-width: 1000px) {
      height: 37.5rem;
    }
    @media (max-width: 840px) {
      height: 31.25rem;
    }
    @media (max-width: 700px) {
      height: 26rem;
    }
    @media (max-width: 580px) {
      height: 20rem;
    }
    @media (max-width: 440px) {
      height: 16rem;
    }
  }
  &__title {
    padding-top: 1rem;
    text-shadow: $shadow-text;

    @media (max-width: 440px) {
      font-size: 1.2rem;
    }
  }
  &__title2 {
    padding: 1rem 0;
    text-shadow: $shadow-text;

    @media (max-width: 390px) {
      font-size: 1rem;
    }
  }
  &__text {
    text-align: justify;
    color: black;
    font-size: 1.2rem;
    line-height: 1.4;
    letter-spacing: 1;
    padding: 1rem 0;

    @media (max-width: 768px) {
      font-size: 1.1rem;
      line-height: 1.3;
      letter-spacing: 0.9;
    }
    @media (max-width: 450px) {
      font-size: 1rem;
    }
  }
  &__winner {
    font-size: 1.4rem;
    text-shadow: $shadow-text;

    @media (max-width: 870px) {
      font-size: 1.2rem;
    }
  }
}
/////////////////////
// BFV landing page
/////////////////////
.section-landing {
  position: relative;
  background-image: url('../img/BF5-min.png');
  background-size: cover;
  background-position: center;
  height: 100vh;

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 74%;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding-top: 200px;
  }
  &__par {
    font-size: 1.5rem;
    color: rgb(255, 193, 7);

    @media (max-width: 600px) {
      display: none;
    }
  }
  &__title {
    font-size: 1.5rem;
    color: rgb(255, 193, 7);
    padding-top: 1rem;

    @media (max-width: 400px) {
      display: none;
    }
  }
}

.countdown {
  font-size: 2.125rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media (max-width: 650px) {
    font-size: 1.875;
    flex-direction: column;
  }
}

.countdown div {
  padding: 1.25rem;
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 5px;
  opacity: 0.7;
  background: #000;

  @media (max-width: 650px) {
    display: none;
  }
}

.countdown div:first-child {
  background: rgb(255, 193, 7);

  @media (max-width: 650px) {
    display: block;
    width: 80%;
    padding: 10px;
  }
}

.countdown span {
  display: block;
  font-size: 1.5625;
}

.container-bfv {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.section-bfv {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: justify;
  width: calc(100% - 5rem);
  max-width: 50rem;
  margin: 0 auto;

  &__title {
    padding-top: 1rem;
    color: #fff;
    text-align: center;

    @media (max-width: 590px) {
      font-size: 1.2rem;
    }
    @media (max-width: 490px) {
      font-size: 1.1rem;
    }
  }
  &__text {
    color: #fff;
    padding: 1rem 0 1rem 0;
  }
}
